tensorflow
keras
pandas
numpy
jupyter
tqdm
opencv-contrib-python
scikit-learn 

# images                      labels
# images/angry/vivek.png      angry
# images/angry/v.png          angry
# images/sad/vivek.png        sad
# images/sad/vivek2.png       sad  

# load_img(img,grayscale=True)
